@import './base.css';
@import 'tailwindcss';

html {
  background: #211711;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

#app {
  min-height: 100dvh;
}
